/* New CSS for Register Page */
/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
	background-color: #f5f5f5;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px;
}

/* Header Styles */
.header {
    text-align: center;
    margin-bottom: 20px;
}

.header h2 {
    font-size: 2em;
    margin-bottom: 10px;
}

/* Form Styles */
.form-container {
    max-width: 500px;
    margin: 0 auto;
    background-color: #f9f9f9;
    padding: 50px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="password"],
.form-group input[type="file"] {
    width: calc(50% - 5px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.form-group input[type="file"] {
    width: 100%;
    border: none;
    padding: 10px;
    background-color: #f0f0f0;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s;
}

.form-group input[type="file"]:hover {
    background-color: #e0e0e0;
}
.form-submit {
    width: 100%;
    background-color: black;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}



.form-auth-text {
    text-align: center;
    margin-top: 10px;
    
}

.form-auth-text a {
    color: black;
    text-decoration: none;
}

.form-auth-text a:hover {
    text-decoration: underline;
}
